:root {
    /* To encode icons back to svg file paste string "..." to 'Take encoded:' field here https://yoksel.github.io/url-encoder/ */
    --icon-calendar: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='rgb(127,127,127)' fill-rule='evenodd' d='M11.33 1.33a.67.67 0 0 0-1.33 0V2H6v-.67a.66.66 0 1 0-1.33 0V2H3.33a2 2 0 0 0-2 2v9.33c0 1.1.9 2 2 2h9.34a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-1.34v-.67Zm2 4.67V4c0-.37-.3-.67-.66-.67h-1.34V4A.67.67 0 0 1 10 4v-.67H6V4a.67.67 0 0 1-1.33 0v-.67H3.33c-.36 0-.66.3-.66.67v2h10.67ZM2.68 7.33h10.67v6c0 .37-.3.67-.67.67H3.33a.67.67 0 0 1-.66-.67v-6Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-document: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M6.03 12.38h3.93a.65.65 0 0 0 .66-.66.64.64 0 0 0-.18-.47.63.63 0 0 0-.47-.19H6.04a.65.65 0 0 0-.67.65c0 .19.07.35.2.47.12.13.27.2.46.2Zm0-2.63h3.93a.65.65 0 0 0 .66-.65.64.64 0 0 0-.18-.47.63.63 0 0 0-.47-.2H6.04a.65.65 0 0 0-.67.66c0 .18.07.34.2.47.12.13.27.19.46.19ZM4.06 15c-.36 0-.67-.13-.93-.39a1.27 1.27 0 0 1-.38-.92V2.3c0-.36.13-.67.39-.92.25-.26.56-.39.92-.39H9.2c.18 0 .34.03.5.1.15.05.3.15.43.28l2.74 2.74a1.26 1.26 0 0 1 .38.93v8.64c0 .36-.13.67-.39.92-.25.26-.56.39-.92.39H4.06ZM8.88 4.72v-2.4H4.05v11.37h7.88V5.38h-2.4a.63.63 0 0 1-.48-.2.63.63 0 0 1-.19-.46Z'/%3e%3c/svg%3e");
    --icon-radio-on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='black' d='M8 11.6c1 0 1.85-.35 2.55-1.05.7-.7 1.05-1.55 1.05-2.55 0-1-.35-1.85-1.05-2.55A3.47 3.47 0 0 0 8 4.4c-1 0-1.85.35-2.55 1.05C4.75 6.15 4.4 7 4.4 8c0 1 .35 1.85 1.05 2.55.7.7 1.55 1.05 2.55 1.05Zm0 3.6a7.02 7.02 0 0 1-5.09-2.1A7.26 7.26 0 0 1 .81 8a7 7 0 0 1 2.1-5.09 7.26 7.26 0 0 1 5.1-2.1 7 7 0 0 1 5.08 2.1 7.29 7.29 0 0 1 2.11 5.1 7.02 7.02 0 0 1-2.1 5.08A7.29 7.29 0 0 1 8 15.2Zm0-1.35c1.63 0 3-.57 4.14-1.7A5.64 5.64 0 0 0 13.85 8c0-1.62-.57-3-1.7-4.14A5.64 5.64 0 0 0 8 2.16c-1.62 0-3 .56-4.14 1.7A5.64 5.64 0 0 0 2.16 8c0 1.63.56 3 1.7 4.14A5.64 5.64 0 0 0 8 13.85Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    --icon-radio-off: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='black' d='M8 15.2a7.02 7.02 0 0 1-5.09-2.1A7.26 7.26 0 0 1 .81 8a7 7 0 0 1 2.1-5.09 7.26 7.26 0 0 1 5.1-2.1 7 7 0 0 1 5.08 2.1 7.29 7.29 0 0 1 2.11 5.1 7.02 7.02 0 0 1-2.1 5.08A7.29 7.29 0 0 1 8 15.2Zm0-1.35c1.63 0 3-.57 4.14-1.7A5.64 5.64 0 0 0 13.85 8c0-1.62-.57-3-1.7-4.14A5.64 5.64 0 0 0 8 2.16c-1.62 0-3 .56-4.14 1.7A5.64 5.64 0 0 0 2.16 8c0 1.63.56 3 1.7 4.14A5.64 5.64 0 0 0 8 13.85Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.icon-calendar {
    mask-image: var(--icon-calendar);
    -webkit-mask-image: var(--icon-calendar);
}

.icon-document {
    mask-image: var(--icon-document);
    -webkit-mask-image: var(--icon-document);
}

.context_popover {
    background: white;
    border: 1px solid hsla(0, 0%, 0%, 0.4);
    border-radius: 6px;
    box-shadow: 0px 41px 80px rgba(0, 0, 0, 0.13), 0px 18.7257px 35.4802px rgba(0, 0, 0, 0.0935136), 0px 12.177px 21.4737px rgba(0, 0, 0, 0.0856364), 0px 8.4377px 13.9271px rgba(0, 0, 0, 0.0810408), 0px 5.51132px 8.57828px rgba(0, 0, 0, 0.0746815), 0px 2.77984px 4.11293px rgba(0, 0, 0, 0.0605595);
    z-index: 20;
}

.dark .context_popover {
    background-color: hsl(0, 0%, 17%);
    border: 1px solid black;
    box-shadow: 0px 41px 80px rgba(0, 0, 0, 0.13), 0px 18.7257px 35.4802px rgba(0, 0, 0, 0.0935136), 0px 12.177px 21.4737px rgba(0, 0, 0, 0.0856364), 0px 8.4377px 13.9271px rgba(0, 0, 0, 0.0810408), 0px 5.51132px 8.57828px rgba(0, 0, 0, 0.0746815), 0px 2.77984px 4.11293px rgba(0, 0, 0, 0.0605595);
}

.send_options_menu {
    position: absolute;
    bottom: 36px;
    right: 0;

    display: none;
    flex-direction: column;
    z-index: 10;
}

.send_options_menu._open {
    display: flex;
}

ul.context-menu {
    list-style: none;
    margin: 4px 0;
    padding: 0;
}

ul.context-menu .mobile_only {
    display: none;
}

ul.context-menu li.context-menu__separator {
    padding: 0;
    margin: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dark ul.context-menu li.context-menu__separator {
    border-top: 1px solid rgba(0, 0, 0, 0.4)
}

ul.context-menu li {
    font-family: var(--font-ss3);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 134%;
    color: hsl(0, 0%, 15%);
    padding: 3px 10px;
    user-select: none;
    cursor: pointer;
}

.dark ul.context-menu li {
    color: hsl(0, 0%, 80%);
}

ul.context-menu li:hover,
ul.context-menu li._active {
    background-color: rgba(0, 0, 0, 0.04);
}

ul.context-menu li:active {
    background-color: rgba(0, 0, 0, 0.06);
}

.dark ul.context-menu li:hover,
.dark ul.context-menu li._active {
    background-color: hsla(0, 0%, 100%, 0.04)
}

.dark ul.context-menu li:active {
    background-color: hsla(0, 0%, 100%, 0.06)
}

.context-menu li {
    padding: 3px 10px 3px 8px;
    display: flex;
}

.context-menu li .context-menu__icon {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 5px;
}

.context-menu li .context-menu__icon {
    margin-top: 1px;
}

.context-menu__radio input[type="radio"],
.context-menu__radio label {
    color: #262626;
    pointer-events: none;
    /*so it don't take over menu hover/active */
}

.dark .context-menu__radio input[type="radio"],
.dark .context-menu__radio label {
    color: hsl(0, 0%, 80%);
    font-family: var(--font-ss3);
}

.context-menu__radio label {
    white-space: nowrap;
}

.context-menu__radio input[type="radio"] {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin: 2px 4px 0 0;
    -webkit-appearance: none;
    appearance: none;

    background-color: currentColor;
    mask-image: var(--icon-radio-off);
    -webkit-mask-image: var(--icon-radio-off);
    mask-position: center;
    mask-repeat: no-repeat;
}

.context-menu__radio input[type="radio"]:checked {
    mask-image: var(--icon-radio-on);
    -webkit-mask-image: var(--icon-radio-on);
    background-color: hsla(217, 100%, 60%, 1)
}

.context-menu small {
    font-size: 12px;
    line-height: 150%;
}

.context-menu kbd {
    font-family: var(--font-ss3);
    display: inline-block;
    color: hsla(0, 0%, 40%, 1);
    border: 1px solid hsla(0, 0%, 40%, 0.5);
    padding: 2px 5px;
    font-size: 14px;
    line-height: 100%;
    border-radius: 3px;
}

.context-menu kbd+kbd {
    margin-left: 0.2em;
}

.dark .context-menu kbd {
    color: hsla(0, 0%, 65%, 1);
    border: 1px solid hsla(0, 0%, 65%, 0.5);
}

.context-menu small kbd {
    font-size: 12px;
    padding: 1px 4px;
}

.context-menu input[type="radio"]:checked+label kbd {
    color: hsla(217, 100%, 60%, 1);
    border: 1px solid hsla(217, 100%, 60%, 0.5);
}


/* Responsivity small */
@media (max-width: 640px) {
    .send_options_menu {
        right: 16px;
        bottom: 68px;
    }

    ul.context-menu .mobile_only {
        display: flex;
    }
}